.container{
    height: 60vh;
    width: 30%;
    background-color: aliceblue;
}
.text-element{
    justify-content: center;
    align-items: center;
    display: flex;
}
button{
    justify-content: center;
    align-items: center;
    display: flex;
}
.placing{
    margin-top: 50px;
}
